html {
    font-size: 14px;
  	background: #ccc;
}

body {
	  margin: 0 auto;
  	padding: 10px;
  	width: 45%;
  	max-width: 1280px;
  	min-width: 480px;
  	background: #fff;
}

h1 {
	  margin-top: 0;
    padding-top: 10px; 
}

p {
	  line-height: 1.5;
    letter-spacing: 1px;
    word-wrap: break-word;
}

span {
    display: block;
}
